<div class="container">
  <h1>Create PLayer!</h1>
<a href="/">Back</a>

  <form action="/player/create" method="post">
    <label>Player 1 Name</label>
    <input type="text" name="player1_input"></input>
      <br />
    <label>Player 2 Name</label>
    <input type="text" name="player2_input"></input>
      <br />
    <input type="submit" value="Submit"></input>
  </form>
</div>
